<div *ngIf="data" class="resultat-donnees">
  <h2>Résumé des données de rejet</h2>

  <div class="summary-stats">
    <div class="stat-item">
      <h3 class="stat-title text-2xl font-bold text-black dark:text-surface-0">Total</h3>
      <p class="stat-value text-2xl font-bold text-black dark:text-surface-0">{{ total }}</p>
    </div>
    <div class="stat-item">
      <h3 class="stat-title text-2xl font-bold text-black dark:text-surface-0">Commenté</h3>
      <p class="stat-value text-2xl font-bold text-black dark:text-surface-0">{{ commented }}</p>
    </div>
    <div class="stat-item">
      <h3 class="stat-title text-2xl font-bold text-red-700 dark:text-red-700">Rejeté</h3>
      <p class="stat-value text-2xl font-bold text-red-700 dark:text-red-700">{{ rejected }}</p>
    </div>
    <div class="stat-item">
      <h3 class="stat-title text-2xl font-bold text-black dark:text-surface-0">Erreurs</h3>
      <p class="stat-value text-2xl font-bold text-black dark:text-surface-0">{{ errors }}</p>
    </div>
  </div>
</div>
