/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('ttf');
  font-display: swap;
}

body, * {
    font-family: 'Roboto', sans-serif;
}
.p-button{
    padding-left: 5px;
}
.p-button img {
    height: auto !important;
    width: 30px !important;
    object-fit: contain;
}
.bloc_export {
    display: flex;
}

.bloc_export1 {
    width: 35%;
}

.bloc_export2 {
    width: 65%;
    display: flex;
}
.p-card-body {
    padding: 3% 0 !important;
}
.text-description {
    width: 50%;
}
.download_button {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}
.card-box {
    border-radius: 15px;
}
.bloc_export1 {
    width: 35%;
    padding: 15px;
    border-radius: 10px;
}
.p-card-title {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.button_one {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: calc(100% / 2);
}
.titre_button {font-weight: 800;font-size: 20px;margin-bottom: 10px;}
.resultat-donnees {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.summary-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stat-item {
    text-align: center;
}

.stat-item p.stat-value {
height: 69px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid;
}
.button_one p-button .p-button {
    height: 40px;
}
.partie-resultat {
    width: 100%;
}
.rejet_resultat {
    display: flex;
}
.rejet_resultat form {
    width: 300px;
}
.donught {
    display: flex;
}
.layout-topbar .layout-topbar-logo img {
    width: 35px !important;
}
app-stats-widget.contents .card {
    min-height: 220px;
    border-radius: 15px;
}
.nomber-stat {
    position: absolute;
    bottom: 35px;
}
.layout-wrapper.layout-static .layout-main-container {
    margin-left: 15rem;
}
.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
    background: var(--surface-card);
}
.layout-sidebar {
    background-color: transparent;
}
.background-1 {
    background: #3b8ff8;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.layout-main {
    background: var(--surface-card);
    padding: 2%;
    border-radius: 15px;
}
.background-2 {
    background: #f97316;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.background-3 {
    background: #00e9ff;
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
}

.background-4 {
    background: #ef4444;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

@media(max-width: 991px) {
    .rejet_resultat {
        flex-direction: column;
    }
    .rejet_resultat form {
        padding: 15px;
    }
    .bloc_export {
        flex-direction: column;
    }
    .bloc_export1 {
        width: 100%;
    }
    .bloc_export2 {
        width: 100%;
        margin-top: 20px;
    }
    app-stats-widget.contents .card{
        height: 100%;
    }
    .layout-wrapper.layout-static .layout-main-container{
        margin-left: inherit;
    }
}


app-sidebar {
    display: none;
}
.layout-wrapper.layout-static .layout-main-container {
    margin-left: 0rem;
}
.layout-topbar .layout-menu-button {
    margin-right: 0.5rem;
    display: none;
}
